<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" routerLink="home">
            <img src="../../../assets/images/Logo.png" alt="" loading="lazy">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="sobre" routerLinkActive="active">Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="contatos" routerLinkActive="active">Contatos</a>
                </li>
            </ul>
            <a href="https://www.facebook.com/profile.php?id=100006641644586" target="_blank">
                <img src="../../../assets/images/facebook.png" alt="">
            </a>
            <a href="https://www.instagram.com/lucas_98_rodrigues/" target="_blank">
                <img src="../../../assets/images/instagram.png" alt="">
            </a>
            <a href="https://www.linkedin.com/in/lucas-r-25624a11a/" target="_blank">
                <img src="../../../assets/images/linkedin.png" alt="">
            </a>
        </div>
    </div>
</nav>